---
import { Silk } from "./silk";

interface Props {
  views: number;
}

const { views } = Astro.props;
---

<section class="hero">
  <div class="effect">
    <div class="silk"><Silk client:load color="#ffffff" /></div>
    <div class="overlay"></div>
  </div>

  <div class="logo-wrapper">
    <img src="/logo.svg" alt="GitViews Logo" class="logo" />
  </div>

  <h1 class="title">Simple GitHub<br />Profile and Repo<br />View Counter</h1>
  <p class="desc">Completely Free & Open-Source.</p>
  <p class="views">
    <span>{views.toString().padStart(7, "0")}</span> views counted.
  </p>

  <div class="links">
    <a href="https://github.com/remvze/gitviews">GitHub</a>
  </div>
</section>

<style>
  .hero {
    padding: 140px 0 70px;
    text-align: center;
    overflow: hidden;
    position: relative;

    & .effect {
      position: absolute;
      top: 20px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 220px;
      border-radius: 32px 32px 0 0;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 1;
        transform: translateX(-50%);
        left: 50%;
        width: 80%;
        height: 1px;
        background: linear-gradient(
          90deg,
          transparent,
          var(--color-neutral-500),
          transparent
        );
      }

      & .silk {
        position: absolute;
        inset: 0;
        mask-image: linear-gradient(#000, transparent);
      }

      & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(9 9 11 / 90%);
      }
    }

    & .logo-wrapper {
      margin: 0 auto 36px;
      width: 54px;
      height: 54px;
      border-radius: 20px;
      background: linear-gradient(
        var(--color-neutral-100),
        var(--color-neutral-50)
      );
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-neutral-200);
      box-shadow: inset 0 1px 0 var(--color-neutral-500);

      & .logo {
        display: block;
        width: 50%;
        aspect-ratio: 1/1;
      }
    }

    & .title {
      font-weight: 500;
      margin-bottom: 24px;
      font-size: var(--font-2xlg);
      line-height: 1.1;
      font-weight: 700;
      font-family: var(--font-display);
    }

    & .desc {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
    }

    & .views {
      margin-top: 4px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtler);

      & span {
        color: var(--color-foreground);
        font-family: var(--font-mono);
      }
    }

    & .links {
      margin-top: 24px;

      & a {
        font-size: var(--font-sm);
        color: var(--color-neutral-50);
        font-weight: 500;
        text-decoration: none;
        display: inline-flex;
        padding: 8px 24px;
        border-radius: 999px;
        background: #f76707;
        box-shadow:
          inset 0 -3px 0 rgba(0, 0, 0, 0.25),
          inset 0 1px 0 rgba(255, 255, 255, 0.4);
      }
    }
  }
</style>
