<section class="hero">
  <h1>GitViews</h1>
  <p>GitHub visit counter.</p>
</section>

<style>
  .hero {
    padding: 180px 0 90px;

    & h1 {
      font-weight: 500;
      margin-bottom: 2px;
    }

    & p {
      color: var(--color-foreground-subtle);
    }
  }
</style>
